.heightfix {    
    height: 100%;
}
.topPadding {
    padding-top:20px;
}
.teachingbackgroundImage {
     background-image: url("../images/teaching-staff/teachingstaff.jpg");
}
.staff{
    background-image: url("http://localhost:9738/assets/images/background-best-staff.jpg");
}

.Attendance-table  {
    border-collapse: collapse;
    height:auto
}

.Attendance-table  tr {
    height: 50px;
    background-color: #fafafa;
    border-bottom-color: #fff

}

.Attendance-table  tr.heading-table {
    background-color: #90a1ae;
    width:50px
   
}

.Attendance-table  th {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff
}

.Attendance-table td {
    display: table-cell;
    color: #6f8190;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    
}

.Attendance-table td a {
    color: #6f8190
}

.Attendance-table  td a:hover {
    color: #86bc42
}

.Attendance-table  td.bold-color {
    color: #49575f
}

.Attendance-table  td.bolder-color {
    color: #242c42
}

.Attendance-table  td.green-color {
    color: #86bc42
}

.Attendance-table  td i.w20 {
    width: 20px
}

.Attendance-table  td i.w27 {
    width: 27px
}

.Attendance-table  td i.fa-caret-right {
    background-color: #86bc42;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #fff
}

.Attendance-table  td i.fa-caret-right :before {
    position:relative;
    right: -1px
}

.Attendance-table  td i.fa-file-text {
    color: #86bc42
}


.Attendance-table  td .bg-yellow {
    background-color: #e2cf00;
    color: #fff;
    display: initial;
    padding: 5px 9px
}

.Attendance-table  .col-1 {
    width: 50px;
    min-width: 50px;
}

.Attendance-table  .col-2{
    width: 50px;
    min-width: 150px
}

.Attendance-table .col-3{
    width:250px;
    min-width:250px;
} 
.Attendance-table  .col-4 {
    width: 250px;
    min-width: 360px
}
.animate {
    height: auto;
    width: 100%;
    border: 1px solid #000;
    -webkit-animation: animate_bg 20s;
    animation: animate_bg 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes animate_bg {
    10%   {background:#6f8190;}
    /*10%  {background:#e2cf00;}
    20%  {background:#90a1ae;}
    30%  {background:#242c42;}*/
    50%  {background:#90a1ae;}
    /*60%  {background:#6493cc;}
    70%  {background:#a36fde;}
    80%  {background:#6699cc;}
    90%  {background:#f7c68b;}*/
    100% {background:#242c42;}
}
#set {
}
#submitbutton {
    margin:auto;
    width:130px;
}
.innerNumber {
    font-size:20px;
    font-style:italic;
    font-weight:bolder;
}
.pGreen {
    font-size:15px;
    font-kerning:normal;
    font-stretch:wider;
    font-weight:600;
    padding:10px 0px 10px 0px;
}
.pricingClickEvent {
    opacity:0.1;    
}
 .pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 100%;
  margin: 20px;
  overflow: hidden;
  
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.ViewAll{
    padding-bottom:20px;
}
.top {
    z-index:999;
}
.imgTeacher {
    height: 200px;
    width: 300px;
}
.btnRightPadding {
    padding-right: 135px;
}
.teacherofthemonth {
 width:100%;
}
.roundborder {
    border-radius:5px;
}